html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  color: #222;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  border: 2px;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

article h1 {
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 0;
}

article p {
  margin-top: 0;
  margin-bottom: 1.3em;
}

header + p {
  margin-top: 1em;
}

article ol {
  margin-top: 0;
  margin-bottom: 1.3em;
  padding-left: 1rem;
  padding-right: 1rem;
}

article header p {
  font-style: italic;
  margin-top: 0;
}

article header {
  border-bottom: 1px solid #999;
}

blockquote {
  color: #555;
  font-size: 1.125rem;
}

.quote {
  font-size: 1.125rem;
}

article {
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
}
